@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

.container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    background-color: #fff;
}
.question-types button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.question-types button:hover {
    background-color: #e0e0e0;
}
